In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('2019.csv', encoding='latin1')

C:\Users\saive\AppData\Local\Temp\ipykernel_228\2050930110.py:1: DtypeWarning: Columns (13,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('2019.csv', encoding='latin1')

In [7]:
df.head()

,AsOfDate,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BankName,BankFDICNumber,BankNCUANumber,...,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported
0,20221231,7A,RIVERLAND LASER LLC,703 ST CROIX STREET,RIVER FALLS,WI,54022,First National Community Bank,5357.0,NaN,...,WISCONSIN DISTRICT OFFICE,7.0,CORPORATION,NaN,PIF,08/31/2016,NaN,0,0,11
1,20221231,7A,MARTINEZ AND MARTINEZ INC.,2430 DALY AVE,LOS ANGELES,CA,90031,Gain FCU,NaN,3943.0,...,LOS ANGELES DISTRICT OFFICE,28.0,CORPORATION,NaN,PIF,04/30/2016,NaN,0,1,9
2,20221231,7A,Erez & Koby Genesis Investment,"10999 Reed Hartman Hwy, SUit",CINCINNATI,OH,45242,"JPMorgan Chase Bank, National Association",628.0,NaN,...,COLUMBUS DISTRICT OFFICE,1.0,CORPORATION,NaN,PIF,05/31/2012,NaN,0,0,20
3,20221231,7A,Square Burger LLC,115 Kentucky Street,McKinney,TX,75069,American Bank of Commerce,18609.0,NaN,...,DALLAS / FT WORTH DISTRICT OFFICE,3.0,CORPORATION,NaN,PIF,07/31/2014,NaN,0,0,18
4,20221231,7A,HIT FITNESS LLC,614 A SOUTH MAIN STREET,MAULDIN,SC,29662,Truist Bank,9846.0,NaN,...,SOUTH CAROLINA DISTRICT OFFICE,4.0,CORPORATION,NaN,PIF,09/30/2013,NaN,0,0,6

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545751 entries, 0 to 545750
Data columns (total 39 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AsOfDate               545751 non-null  int64
 1   Program                545751 non-null  object
 2   BorrName               545717 non-null  object
 3   BorrStreet             545751 non-null  object
 4   BorrCity               545751 non-null  object
 5   BorrState              545751 non-null  object
 6   BorrZip                545751 non-null  int64
 7   BankName               545751 non-null  object
 8   BankFDICNumber         508115 non-null  float64
 9   BankNCUANumber         16788 non-null   float64
 10  BankStreet             545749 non-null  object
 11  BankCity               545749 non-null  object
 12  BankState              545749 non-null  object
 13  BankZip                545749 non-null  object
 14  GrossApproval          545751 non-null  int64
 15  SBAGuaranteedApproval  545751 non-null  float64
 16  ApprovalDate           545751 non-null  object
 17  ApprovalFiscalYear     545751 non-null  int64
 18  FirstDisbursementDate  480737 non-null  object
 19  DeliveryMethod         545751 non-null  object
 20  subpgmdesc             545751 non-null  object
 21  InitialInterestRate    545751 non-null  float64
 22  TermInMonths           545751 non-null  int64
 23  NaicsCode              545740 non-null  float64
 24  NaicsDescription       545157 non-null  object
 25  FranchiseCode          47615 non-null   object
 26  FranchiseName          47514 non-null   object
 27  ProjectCounty          545749 non-null  object
 28  ProjectState           545751 non-null  object
 29  SBADistrictOffice      545751 non-null  object
 30  CongressionalDistrict  545722 non-null  float64
 31  BusinessType           545746 non-null  object
 32  BusinessAge            111673 non-null  object
 33  LoanStatus             545751 non-null  object
 34  PaidInFullDate         319229 non-null  object
 35  ChargeOffDate          27915 non-null   object
 36  GrossChargeOffAmount   545751 non-null  int64
 37  RevolverStatus         545751 non-null  int64
 38  JobsSupported          545751 non-null  int64
dtypes: float64(6), int64(8), object(25)
memory usage: 162.4+ MB

In [9]:
df.describe()

,AsOfDate,BorrZip,BankFDICNumber,BankNCUANumber,GrossApproval,SBAGuaranteedApproval,ApprovalFiscalYear,InitialInterestRate,TermInMonths,NaicsCode,CongressionalDistrict,GrossChargeOffAmount,RevolverStatus,JobsSupported
count,545751.0,545751.000000,508115.000000,16788.000000,5.457510e+05,5.457510e+05,545751.000000,545751.000000,545751.000000,545740.000000,545722.000000,5.457510e+05,545751.000000,545751.000000
mean,20221231.0,52238.354072,17999.109424,43227.228318,3.773959e+05,2.796713e+05,2014.724823,6.531549,122.021206,524381.387732,9.379096,6.674972e+03,0.313387,10.720110
std,0.0,30830.456758,18511.155548,25769.789691,6.722855e+05,5.156727e+05,2.812685,1.559408,79.356179,175602.264869,10.662380,6.336165e+04,0.463870,20.525031
min,20221231.0,601.000000,35.000000,28.000000,1.000000e+03,5.000000e+02,2010.000000,0.000000,0.000000,111110.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,20221231.0,27615.000000,3832.000000,24405.000000,4.000000e+04,2.250000e+04,2012.000000,5.500000,84.000000,424950.000000,2.000000,0.000000e+00,0.000000,2.000000
50%,20221231.0,50325.000000,9846.000000,60793.000000,1.250000e+05,8.500000e+04,2015.000000,6.000000,84.000000,541110.000000,6.000000,0.000000e+00,0.000000,4.000000
75%,20221231.0,80237.000000,27237.000000,67190.000000,3.600000e+05,2.737500e+05,2017.000000,7.480000,120.000000,624410.000000,12.000000,0.000000e+00,1.000000,11.000000
max,20221231.0,99929.000000,91280.000000,97069.000000,5.000000e+06,4.500000e+06,2019.000000,13.500000,847.000000,928120.000000,53.000000,4.706180e+06,1.000000,2150.000000

In [12]:
date_cols = ['AsOfDate', 'ApprovalDate', 'FirstDisbursementDate']
for col in date_cols:
      df[col] = pd.to_datetime(df[col], errors='coerce')

print(date_cols)

['AsOfDate', 'ApprovalDate', 'FirstDisbursementDate']

In [13]:
df.head()

,AsOfDate,Program,BorrName,BorrStreet,BorrCity,BorrState,BorrZip,BankName,BankFDICNumber,BankNCUANumber,...,SBADistrictOffice,CongressionalDistrict,BusinessType,BusinessAge,LoanStatus,PaidInFullDate,ChargeOffDate,GrossChargeOffAmount,RevolverStatus,JobsSupported
0,1970-01-01 00:00:00.020221231,7A,RIVERLAND LASER LLC,703 ST CROIX STREET,RIVER FALLS,WI,54022,First National Community Bank,5357.0,NaN,...,WISCONSIN DISTRICT OFFICE,7.0,CORPORATION,NaN,PIF,08/31/2016,NaN,0,0,11
1,1970-01-01 00:00:00.020221231,7A,MARTINEZ AND MARTINEZ INC.,2430 DALY AVE,LOS ANGELES,CA,90031,Gain FCU,NaN,3943.0,...,LOS ANGELES DISTRICT OFFICE,28.0,CORPORATION,NaN,PIF,04/30/2016,NaN,0,1,9
2,1970-01-01 00:00:00.020221231,7A,Erez & Koby Genesis Investment,"10999 Reed Hartman Hwy, SUit",CINCINNATI,OH,45242,"JPMorgan Chase Bank, National Association",628.0,NaN,...,COLUMBUS DISTRICT OFFICE,1.0,CORPORATION,NaN,PIF,05/31/2012,NaN,0,0,20
3,1970-01-01 00:00:00.020221231,7A,Square Burger LLC,115 Kentucky Street,McKinney,TX,75069,American Bank of Commerce,18609.0,NaN,...,DALLAS / FT WORTH DISTRICT OFFICE,3.0,CORPORATION,NaN,PIF,07/31/2014,NaN,0,0,18
4,1970-01-01 00:00:00.020221231,7A,HIT FITNESS LLC,614 A SOUTH MAIN STREET,MAULDIN,SC,29662,Truist Bank,9846.0,NaN,...,SOUTH CAROLINA DISTRICT OFFICE,4.0,CORPORATION,NaN,PIF,09/30/2013,NaN,0,0,6

In [17]:
df.drop_duplicates(inplace=True)

In [18]:
df['InitialInterestRate'] = pd.to_numeric(df['InitialInterestRate'], errors='coerce')
df['TermInMonths'] = pd.to_numeric(df['TermInMonths'], errors='coerce')
df['GrossApproval'] = pd.to_numeric(df['GrossApproval'], errors='coerce')
df['SBAGuaranteedApproval'] = pd.to_numeric(df['SBAGuaranteedApproval'], errors='coerce')

In [19]:
df.fillna({'FranchiseName': 'Not a Franchise', 'LoanStatus': 'Unknown'}, inplace=True)

In [20]:
df['LoanStatus'] = df['LoanStatus'].str.lower().str.strip()

In [ ]:
df.drop(columns=['BankFDICNumber', 'BankNCUANumber', 'CongressionalDistrict'], inplace=True, errors='ignore')

In [22]:
df.to_csv("cleaned_loan_data.csv", index=False)
print("Data cleaning done. Saved as 'cleaned_loan_data.csv'.")

Data cleaning done. Saved as 'cleaned_loan_data.csv'.

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 544602 entries, 0 to 545750
Data columns (total 36 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AsOfDate               544602 non-null  datetime64[ns]
 1   Program                544602 non-null  object
 2   BorrName               544568 non-null  object
 3   BorrStreet             544602 non-null  object
 4   BorrCity               544602 non-null  object
 5   BorrState              544602 non-null  object
 6   BorrZip                544602 non-null  int64
 7   BankName               544602 non-null  object
 8   BankStreet             544600 non-null  object
 9   BankCity               544600 non-null  object
 10  BankState              544600 non-null  object
 11  BankZip                544600 non-null  object
 12  GrossApproval          544602 non-null  int64
 13  SBAGuaranteedApproval  544602 non-null  float64
 14  ApprovalDate           544602 non-null  datetime64[ns]
 15  ApprovalFiscalYear     544602 non-null  int64
 16  FirstDisbursementDate  480413 non-null  datetime64[ns]
 17  DeliveryMethod         544602 non-null  object
 18  subpgmdesc             544602 non-null  object
 19  InitialInterestRate    544602 non-null  float64
 20  TermInMonths           544602 non-null  int64
 21  NaicsCode              544591 non-null  float64
 22  NaicsDescription       544009 non-null  object
 23  FranchiseCode          47575 non-null   object
 24  FranchiseName          544602 non-null  object
 25  ProjectCounty          544600 non-null  object
 26  ProjectState           544602 non-null  object
 27  SBADistrictOffice      544602 non-null  object
 28  BusinessType           544597 non-null  object
 29  BusinessAge            111585 non-null  object
 30  LoanStatus             544602 non-null  object
 31  PaidInFullDate         318970 non-null  object
 32  ChargeOffDate          27915 non-null   object
 33  GrossChargeOffAmount   544602 non-null  int64
 34  RevolverStatus         544602 non-null  int64
 35  JobsSupported          544602 non-null  int64
dtypes: datetime64[ns](3), float64(3), int64(7), object(23)
memory usage: 153.7+ MB